<div class="signin-content">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header bg-dark mb-3">
                            <h4 class="card-title text-white">Please login to continue</h4>
                        </div>
                        <div class="card-body">
                            <mat-spinner style="margin:0 auto;" *ngIf="loading"></mat-spinner>
                            <form [formGroup]="form" (ngSubmit)="login()" *ngIf="!loading">
                                <div class="row">
                                    <div class="col-md-8">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="User" formControlName="userName" required>
                                            <mat-error *ngIf="isFieldInvalid('userName')">
                                                Username is required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <mat-form-field class="example-full-width">
                                            <input matInput type="password" placeholder="Password"
                                                formControlName="password" required>
                                            <mat-error *ngIf="isFieldInvalid('password')">
                                                Password is required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <button mat-raised-button type="submit" [disabled]="!form.valid"
                                    class="btn btn-primary pull-right">Login</button>
                                    <mat-spinner style="margin:0 auto;" *ngIf="loading"></mat-spinner>
                                    <a [routerLink]="['/register']" class="btn btn-link pull-right">Register</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>