<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-2">
                        <button mat-raised-button type="button" class="btn btn-primary pull-center" [routerLink]="['/debts']">Go Back</button>       
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header bg-dark mb-3">
                        <h4 class="card-title text-white">Create new Debt</h4>
                        <p class="card-category text-white">Fill the fields to create new debt</p>
                    </div>
                    <div class="card-body"> 
                        <form #debtform="ngForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput [(ngModel)]="debt.amount" placeholder="Total Cost" type="text" name=amount currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width">
                                      <input matInput [(ngModel)]="debt.description" placeholder="Description" name="description" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput [(ngModel)]="debt.installments" placeholder="Number of Installments" name="installments" required>
                                    </mat-form-field>
                                </div>
                                
                                <div class="col-md-4 custom-control custom-checkbox">
                                    <mat-checkbox color="primary" [(ngModel)]="debt.next_month" name="next_month">Next Month</mat-checkbox>
                                </div>
                            </div>
                            <div class="row">
                                
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="debt.debt_date_form" [matDatepicker]="picker" placeholder="Debt Date" name="debt_date_form" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="debt.type" name="type" required placeholder="Type">
                                            <mat-option *ngFor="let t of types" [value]="t">
                                            {{ t }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="debt.tag" name="tag" required placeholder="Tag">
                                            <mat-option *ngFor="let t of tags" [value]="t">
                                            {{ t }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-primary pull-right" (click)="create()">Submit</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
  </div>
