<div class="main-content">
    <mat-spinner style="margin:0 auto;" *ngIf="!loaded"></mat-spinner>
    <div class="container-fluid" *ngIf="loaded">
        <div class="row">
            <div class="col-md-10">
                <div [formGroup]="newIncomeForm" *ngIf="showForm">
                    <div class="card">
                        <div class="card-header bg-dark mb-3">
                            <h4 class="card-title text-white">Create new Income</h4>
                            <p class="card-category text-white">* All the fields are required </p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="gross_amount" placeholder="Gross Amount"
                                            type="text" name="gross_amount" currencyMask
                                            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput formControlName="receipt_date" [matDatepicker]="picker"
                                            placeholder="Received at" name="receipt_date" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput formControlName="reference_date" [matDatepicker]="pickerRef"
                                            placeholder="Reference Date" name="reference_date" required>
                                        <mat-datepicker-toggle matSuffix [for]="pickerRef"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerRef></mat-datepicker>
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="description" placeholder="Description"
                                            name="description" required>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="source_name" name="source_name"
                                            placeholder="Source Name" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <span> <h4> Discounts</h4> </span> 
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button type="button" class="btn btn-primary btn-round btn-just-icon"
                                        (click)="add('discounts')">
                                        <i class="material-icons">add</i>
                                        <div class="ripple-container"></div>
                                   </button>  
            
                                    <button mat-raised-button type="button" 
                                            *ngIf="hasLinkData('discounts')"
                                            class="btn btn-primary btn-round btn-just-icon"
                                            matTooltip="Clear All"
                                            (click)="reset('discounts')">
                                        <i class="material-icons">clear_all</i>
                                        <div class="ripple-container"></div>
                                    </button> 
                                </div>
                                
                            </div>

                            <div formArrayName="discounts">
                                <br/>
                                <div *ngFor="let controls of newIncomeForm.controls.discounts.controls; let i=index">
                                    <div class="row" [formGroupName]="i">

                                        <div class="col-md-2">
                                            <mat-form-field class="example-full-width">
                                                <input matInput formControlName="amount" placeholder="Amount"
                                                    currencyMask
                                                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                                                    required>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <input matInput formControlName="description" placeholder="Description"
                                                    required>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-2">
                                            <button mat-raised-button type="button" class="btn btn-primary btn-round btn-just-icon"
                                                matTooltip="Remove"
                                                (click)="remove(i, 'discounts')">
                                                <i class="material-icons">remove</i>
                                                <div class="ripple-container"></div>
                                            </button> 
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <span> <h4> Additions</h4> </span> 
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button type="button" class="btn btn-primary btn-round btn-just-icon"
                                        (click)="add('additions')">
                                        <i class="material-icons">add</i>
                                        <div class="ripple-container"></div>
                                   </button>  
            
                                    <button mat-raised-button type="button" 
                                            *ngIf="hasLinkData('additions')"
                                            class="btn btn-primary btn-round btn-just-icon"
                                            matTooltip="Clear All"
                                            (click)="reset('additions')">
                                        <i class="material-icons">clear_all</i>
                                        <div class="ripple-container"></div>
                                    </button> 
                                </div>
                            </div>

                            <div formArrayName="additions">
                                <br/>
                                <div *ngFor="let controls of newIncomeForm.controls.additions.controls; let i=index">
                                    <div class="row" [formGroupName]="i">

                                        <div class="col-md-2">
                                            <mat-form-field class="example-full-width">
                                                <input matInput formControlName="amount" placeholder="Amount"
                                                    currencyMask
                                                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                                                    required>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <input matInput formControlName="description" placeholder="Description"
                                                    required>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-2">
                                            <button mat-raised-button type="button" class="btn btn-primary btn-round btn-just-icon"
                                                    matTooltip="Remove"
                                                    (click)="remove(i, 'additions')">
                                                <i class="material-icons">remove</i>
                                                <div class="ripple-container"></div>
                                            </button> 
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
 
                    <button mat-raised-button type="button" class="btn btn-primary btn-round btn-just-icon pull-right"
                        matTooltip="Submit"
                        (click)="create()"
                        [disabled]="!newIncomeForm.valid">
                        <i class="material-icons">send</i>
                        <div class="ripple-container"></div>
                    </button>
                    <button mat-raised-button type="button" class="btn btn-primary btn-round btn-just-icon pull-right"
                            matTooltip="Cancel"
                            (click)="cancel()">
                            <i class="material-icons">close</i>
                            <div class="ripple-container"></div>
                     </button> 
                </div>
            </div>
        </div> <br />
        <div class="row">
            <div class="col-md-12">
                <div class="row" *ngIf="!showForm">
                    <div class="col-md-2">
                        <mat-form-field>
                            <input matInput [(ngModel)]="search.year" type="number" placeholder="Year" name="year"
                                required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field>
                            <input matInput [(ngModel)]="search.month" type="number" placeholder="Month" name="month"
                                required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <button mat-raised-button type="button" class="btn btn-primary btn-round btn-just-icon"
                                matTooltip="Search"
                                (click)="getIncomes()">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                         </button>
                        <button mat-raised-button type="button" class="btn btn-primary btn-round btn-just-icon"
                                matTooltip="Create New Income"
                                (click)="initForm()">
                                <i class="material-icons">add</i>
                                <div class="ripple-container"></div>
                         </button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-dark mb-3">
                        <h4 class="card-title text-white">Incomes</h4>
                        <h4>
                            <p class="card-category text-white"> Gross
                                Total :
                                {{ grossTotal | currency: "R$"  }}</p>
                        </h4>
                        <h4>
                            <p class="card-category text-white"> Net
                                Total :
                                {{ netTotal | currency: "R$"  }}</p>
                        </h4>
                    </div>
                    <div class="card-body" *ngIf="hasData()">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                    </div>

                    <div class="mat-elevation-z8" *ngIf="hasData()">
                        <mat-table #table [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> <strong>{{column.value}} </strong>
                                </mat-header-cell>
                                <div
                                    *ngIf="column.id == 'additionalAmount' || column.id == 'discountAmount' || column.id == 'grossAmount' || column.id == 'netAmount'">
                                    <mat-cell *matCellDef="let element"> {{ element[column.id] | currency: "R$"}}
                                    </mat-cell>
                                </div>
                                <div
                                    *ngIf="column.id != 'additionalAmount' || column.id != 'discountAmount' || column.id != 'grossAmount' || column.id != 'netAmount'">
                                    <mat-cell *matCellDef="let element"> {{element[column.id]}} </mat-cell>
                                </div>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef> <strong>Actions </strong></mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <button mat-icon-button title="Delete" 
                                            matTooltip="Delete"
                                            (click)="delete(element.id)"><i
                                            class="material-icons">delete</i></button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[10, 20, 30, 40 , 50]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>