<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-2">
            <button mat-raised-button type="button" class="btn btn-primary pull-center" [routerLink]="['/incomes']">Go
              Back</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header bg-dark mb-3">
            <h4 class="card-title text-white">Create new Income</h4>
            <p class="card-category text-white">Fill the fields to create new income</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="income.gross_amount" placeholder="Gross Amount" type="text"
                      name="gross_amount" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                      required>
                  </mat-form-field>
                </div>
                <div class="col-md-8">
                  <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="income.description" placeholder="Description" name="description"
                      required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field>
                    <input matInput [(ngModel)]="income.received_at_form" [matDatepicker]="picker"
                      placeholder="Received at" name="received_at_form" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field>
                    <input matInput [(ngModel)]="income.reference_date_form" [matDatepicker]="pickerRef"
                      placeholder="Reference Date" name="reference_date_form" required>
                    <mat-datepicker-toggle matSuffix [for]="pickerRef"></mat-datepicker-toggle>
                    <mat-datepicker #pickerRef></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="income.source_name" name="source_name" placeholder="Source Name"
                      required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <button mat-raised-button type="button" class="btn btn-primary btn-block"
                    (click)="add('discounts')">Discounts +</button>
                </div>
              </div>

              <div [formGroup]="addForm">
                <div formArrayName="discounts">
                  <div *ngFor="let controls of addForm.controls.discounts.controls; let i=index">
                    <div class="row" [formGroupName]="i">

                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input matInput formControlName="amount" placeholder="Amount" currencyMask
                            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required>
                        </mat-form-field>
                      </div>

                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input matInput formControlName="description" placeholder="Description" required>
                        </mat-form-field>
                      </div>

                      <div class="col-md-2">
                        <button mat-raised-button type="button" class="btn btn-primary pull-right"
                          (click)="remove(i, 'discounts')">Remove</button>
                      </div>

                    </div>

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <button mat-raised-button type="button" class="btn btn-primary btn-block"
                    (click)="add('additions')">Additions +</button>
                </div>
              </div>

              <div [formGroup]="addForm">
                <div formArrayName="additions">
                  <div *ngFor="let controls of addForm.controls.additions.controls; let i=index">
                    <div class="row" [formGroupName]="i">

                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input matInput formControlName="amount" placeholder="Amount" currencyMask
                            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required>
                        </mat-form-field>
                      </div>

                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input matInput formControlName="description" placeholder="Description" required>
                        </mat-form-field>
                      </div>

                      <div class="col-md-2">
                        <button mat-raised-button type="button" class="btn btn-primary pull-right"
                          (click)="remove(i, 'additions')">Remove</button>
                      </div>

                    </div>

                  </div>
                </div>
              </div>

              <button mat-raised-button type="submit" class="btn btn-primary pull-right"
                (click)="create()">Submit</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>