<div class="logo">
    <a class="simple-text">
        <!-- <div class="logo-img">
            <img src="/assets/img/angular2-logo-red.png"/>
            <i class="material-icons"> attach_money </i>
        </div> -->
        Personal Finance
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <i class="material-icons">build</i>
                <p class="nav-item collapsed" href="#submenu1" data-toggle="collapse" data-target="#submenu1">Settings</p>
            </a>
            <div class="collapse" id="submenu1" aria-expanded="false">
                <ul class="flex-column pl-2 nav">
                    <li class="nav-item" *ngFor="let settingItem of settingsItems">
                        <a class="nav-link py-0" [routerLink]="[settingItem.path]">
                            <i class="material-icons">{{settingItem.icon}}</i>
                            <p>{{settingItem.title}}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [routerLink]="['/logout']">
                <i class="material-icons">logout</i>
                <p>Logout</p>
            </a>
        </li>
    </ul>
</div>