<div class="main-content">
    <mat-spinner style="margin:0 auto;" *ngIf="!loaded"></mat-spinner>
    <div class="container-fluid" *ngIf="loaded">
        <div class="row">
            <div class="col-md-10">
                <div [formGroup]="newDebtForm" *ngIf="showForm">
                    <div class="card">
                        <div class="card-header bg-dark mb-3">
                            <h4 class="card-title text-white">Create new Debt</h4>
                            <p class="card-category text-white">* All the fields are required</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="amount" placeholder="Total Cost" type="text"
                                            name=amount currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                                            required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="installments" type="number" placeholder="Installments"
                                            name="installments" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="description" placeholder="Description" name="description"
                                            required>
                                    </mat-form-field>
                                </div>
                               
                            </div>
                            <div class="row">

                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput formControlName="debt_date" [matDatepicker]="picker"
                                            placeholder="Debt Date" name="debt_date" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-2">
                                    <mat-form-field>
                                        <mat-select formControlName="type" name="type" required placeholder="Type">
                                            <mat-option *ngFor="let t of types" [value]="t">
                                                {{ t }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-select formControlName="tag" name="tag" required placeholder="Tag">
                                            <mat-option *ngFor="let t of tags" [value]="t">
                                                {{ t }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2 custom-control custom-checkbox">
                                    <mat-checkbox color="primary" formControlName="next_month" name="next_month">Next
                                            Month</mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button mat-raised-button type="submit" class="btn btn-primary pull-right" [disabled]="!newDebtForm.valid" (click)="create()">Submit</button>

                    <button mat-raised-button type="button" class="btn btn-primary pull-right" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div> <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="row" *ngIf="!showForm">
                    <div class="col-md-2">
                        <mat-form-field>
                            <input matInput [(ngModel)]="search.year" type="number" placeholder="Year" name="year"
                                required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field>
                            <input matInput [(ngModel)]="search.month" type="number" placeholder="Month" name="month"
                                required>
                        </mat-form-field>
                    </div>

                    <div class="col-md-3">
                        <button mat-raised-button type="button" class="btn btn-primary btn-round btn-just-icon"
                                matTooltip="Search"
                                (click)="getDebts()">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        
                        <button mat-raised-button type="button" class="btn btn-primary btn-round btn-just-icon"
                                matTooltip="Create New Debt"
                                (click)="initForm()">
                                <i class="material-icons">add</i>
                                <div class="ripple-container"></div>
                        </button>
                    
                        <button mat-raised-button type="button" class="btn btn-primary btn-round btn-just-icon"
                                matTooltip="Recurring Debts"
                                [routerLink]="['/recurring-debt']">
                                <i class="material-icons">replay</i>
                                <div class="ripple-container"></div>
                        </button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-dark mb-3">
                        <h4 class="card-title text-white">Debts</h4>
                        <h4>
                            <p class="card-title text-white">Total Cost : {{ totalAmount | currency: "R$" }} </p>
                        </h4>
                        <h4>
                            <p class="card-title text-white"> Threshold: {{ debtThreshold | currency: "R$" }}</p>
                        </h4>
                        <h4>
                            <p class="card-category text-white"> To Spend: {{ debtThreshold - totalAmount | currency:
                                "R$" }}</p>
                        </h4>
                    </div>
                    <div class="card-body" *ngIf="hasData()">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                    </div>

                    <div class="mat-elevation-z8" *ngIf="hasData()">
                        <mat-table #table [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> <strong>{{column.value}} </strong>
                                </mat-header-cell>
                                <div *ngIf="column.id == 'amount' || column.id == 'totalAmount'">
                                    <mat-cell *matCellDef="let element"> {{ element[column.id] | currency: "R$"}}
                                    </mat-cell>
                                </div>
                                <div *ngIf="column.id != 'amount' || column.id != 'totalAmount'">
                                    <mat-cell *matCellDef="let element"> {{element[column.id]}} </mat-cell>
                                </div>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef> <strong>Actions </strong></mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <button mat-icon-button title="Delete" (click)="delete(element.referenceCode)"><i
                                            class="material-icons">delete</i></button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[10, 20, 30, 40 , 50]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>