<div class="main-content">
    <mat-spinner style="margin:0 auto;" *ngIf="!loaded"></mat-spinner>
    <div class="container-fluid" *ngIf="loaded">
        <div class="row">
            <form>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput [(ngModel)]="search.dateFrom" [matDatepicker]="picker"
                                    placeholder="Start Date" name="dateFrom" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput [(ngModel)]="search.dateTo" [matDatepicker]="picker2"
                                    placeholder="End Date" name="dateTo" required>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <button mat-raised-button type="button" class="btn btn-primary btn-round btn-just-icon"
                                (click)="buildDashboard()">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">account_balance</i>
                        </div>
                        <p class="card-category">Savings</p>
                        <h3 class="card-title">{{model.saving_total | currency: "R$" }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i>
                            <strong>
                                mean of {{model.saving_total / monthsDiff | currency: "R$" }} per month
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">keyboard_arrow_up</i>
                        </div>
                        <p class="card-category">Total Net Income</p>
                        <h3 class="card-title">{{model.total_income_net_amount | currency: "R$" }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i>
                            <strong>
                                mean of {{model.total_income_net_amount / monthsDiff | currency: "R$" }} per month
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">keyboard_arrow_down</i>
                        </div>
                        <p class="card-category">Total Debt</p>
                        <h3 class="card-title">
                            {{model.debt_total_amount | currency: "R$" }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i>
                            <strong>
                                mean of {{model.debt_total_amount / monthsDiff | currency: "R$" }} per month
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" *ngIf="charts.debtByTag">
                <div class="card card-chart">
                    <div class="card-header">
                        <div class="ct-chart" id="debtByTag"
                            style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <strong>
                            <p class="card-category">
                                <span class="text-success"></span>
                            </p>
                        </strong>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6" *ngIf="charts.debtByType">
                <div class="card card-chart">
                    <div class="card-header">
                        <div class="ct-chart" id="debtByType"
                            style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <strong>
                            <p class="card-category">
                                <span class="text-success"></span>
                            </p>
                        </strong>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" *ngIf="charts.debtByMonth">
                <div class="card card-chart">
                    <div class="card-header">
                        <div class="ct-chart" id="debtByMonth"
                            style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <strong>
                            <p class="card-category">
                                <span class="text-success"></span>
                            </p>
                        </strong>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6" *ngIf="charts.debtByName">
                <div class="card card-chart">
                    <div class="card-header">
                        <div class="ct-chart" id="debtByName"
                            style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <strong>
                            <p class="card-category">
                                <span class="text-success"></span>
                            </p>
                        </strong>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" *ngIf="charts.debtThresholdByMonth">
                <div class="card card-chart">
                    <div class="card-header">
                        <div class="ct-chart" id="debtThresholdByMonth"
                            style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <strong>
                            <p class="card-category">
                                <span class="text-success"></span>
                            </p>
                        </strong>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" *ngIf="charts.incomeNetByMonth">
                <div class="card card-chart">
                    <div class="card-header">
                        <div class="ct-chart" id="incomeNetByMonth"
                            style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <strong>
                            <p class="card-category">
                                <span class="text-success"></span>
                            </p>
                        </strong>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" *ngIf="charts.incomeDiscountByName">
                <div class="card card-chart">
                    <div class="card-header">
                        <div class="ct-chart" id="incomeDiscountByName"
                            style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <strong>
                            <p class="card-category">
                                <span class="text-success"></span>
                            </p>
                        </strong>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" *ngIf="charts.incomeBySourceName">
                <div class="card card-chart">
                    <div class="card-header">
                        <div class="ct-chart" id="incomeBySourceName"
                            style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <strong>
                            <p class="card-category">
                                <span class="text-success"></span>
                            </p>
                        </strong>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>