<div class="signin-content">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header bg-dark mb-3">
                            <h4 class="card-title text-white">Create an account</h4>
                        </div>
                        <div class="card-body">
                            <mat-spinner style="margin:0 auto;" *ngIf="loading"></mat-spinner>
                            <form [formGroup]="form" (ngSubmit)="register()" *ngIf="!loading">
                                <div class="row">
                                    <div class="col-md-8">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="First Name" formControlName="first_name"
                                                required>
                                            <mat-error *ngIf="isFieldInvalid('first_name')">
                                                First name is required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Last Name" formControlName="last_name"
                                                required>
                                            <mat-error *ngIf="isFieldInvalid('last_name')">
                                                Last name is required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Email" formControlName="email" required>
                                            <mat-error *ngIf="isFieldInvalid('email')">
                                                Email is required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Username" formControlName="username" required>
                                            <mat-error *ngIf="isFieldInvalid('username')">
                                                Username is required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <mat-form-field class="example-full-width">
                                            <input matInput type="password" placeholder="Password"
                                                formControlName="password" required>
                                            <mat-error *ngIf="isFieldInvalid('password')">
                                                Password is required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <button mat-raised-button type="submit" [disabled]="!form.valid"
                                    class="btn btn-primary pull-right">Register</button>
                                <a [routerLink]="['/login']" class="btn btn-link pull-right">Login</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>